body{
    background-image: url(https://img.freepik.com/foto-gratis/fondo-borroso-oscuro-abstracto-color-textura-suave-degradado-patron-sitio-web-brillante-brillante-encabezado-banner-o-imagen-arte-grafico-barra-lateral_1258-82968.jpg?w=360);
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}